---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import AnimatedHero from '../components/AnimatedHero.astro';
import ServiceSection from '../components/ServiceSection.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import { getCollection } from 'astro:content';
import InfiniteSlider from '../components/ui/InfiniteSlider.astro';
import { Image } from 'astro:assets';
import ImageReveal from '../components/ui/ImageReveal.astro';
import CallToAction from '../components/calltoaction.astro';
import FeatureSection from '../components/featureSection.astro';
import ScrollTextReveal from '../components/ui/ScrollTextReveal.astro';
import StylistSection from '../components/StylistSection.astro';
// Navigation properties
export const navlinkData = {
  navTitle: '首頁',
  navOrder: 1,
  navVisibility: 'all'
};

// Fetch featured blog posts
const featuredPosts = (await getCollection('blog', ({ data }) => data.featured === true))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);

const services = (await getCollection('services'))[0].data.slice(0, 6);
//add number of services

// SEO Metadata
const pageTitle = "首頁 | 萃CUI Labs Salon ";
const pageDescription = "CUI Labs Salon：視髮藝為藝術，為您精雕細琢自信之美。體驗專業髮藝師的匠心技藝，享受身心靈的寧靜蛻變";

---

<Layout title={pageTitle} description={pageDescription}>
    <AnimatedHero />
    <FeatureSection />
    <section class="max-w-7xl lg:mx-auto">
      <ScrollTextReveal
      message="A bespoke hairstyle, essential as breath, reflects one's personal essence"
      className="text-left md:mx-16 my-32 sm:px-4"
      fontSize="text-4xl md:text-7xl lg:text-8xl"
      animationDuration={2.3}
      animationDelay={0.1}
      animationType="spring"
      fontStyle="font-soligant"
      animationBounce={0.2}
      />
      <ScrollTextReveal
      message="每個人都應該 擁有屬於 自己的髮型 無時無刻 陪伴著自己 就像 呼吸之於生活"
      className="text-right mx-4 md:mx-16 font-thin text-gray-400 mt-16 mb-32"
      fontSize="text-4xl md:text-7xl lg:text-8xl"
      animationDuration={1}
      animationDelay={0.1}
      animationType="spring"
      fontStyle="font-sans"
      animationBounce={0.2}
      />
    </section>
    <!-- Featured Services Section -->
    <ServiceSection services={services} />
    <!-- Testimonials Section -->
    <!-- brands Section -->

    <section>
      <InfiniteSlider gap={56} speed={20} direction="normal" class="hidden md:block mb-8 bg-gray-50" mask={true} duplicateCount={2}>
        <Image src="/logo/brand-GaBee.svg" alt="Logo" width="160" height="80" class="inline-block transition-all duration-300" />
        <Image src="/logo/brand-Zenz.svg" alt="Logo" width="120" height="80" class="inline-block transition-all duration-300" />
        <Image src="/logo/brand-simply-zen.svg" alt="Logo" width="220" height="80" class="inline-block transition-all duration-300" />
        <Image src="/logo/brand-zone-concept.svg" alt="Logo" width="280" height="80" class="inline-block transition-all duration-300" />
        <Image src="/logo/brand-Previa.svg" alt="Logo" width="160" height="80" class="inline-block transition-all duration-300" />
        <Image src="/logo/brand-TOKIO-INKARAMI.svg" alt="Logo" width="120" height="80" class="inline-block transition-all duration-300" />
        <Image src="/logo/Cui-logo-grey.svg" alt="Logo" width="80" height="80" class="inline-block transition-all duration-300" />
      </InfiniteSlider>
      <InfiniteSlider id="mobile-slider" gap={0} speed={20} direction="normal" class="block md:hidden mb-8 bg-gray-50" mask={true} duplicateCount={4}>
        <Image src="/logo/brand-GaBee.svg" alt="Logo" width="160" height="80" class="scale-70 inline-block transition-all duration-300" />
        <Image src="/logo/brand-Zenz.svg" alt="Logo" width="120" height="80" class="scale-70 inline-block transition-all duration-300" />
        <Image src="/logo/brand-simply-zen.svg" alt="Logo" width="220" height="80" class="scale-70 inline-block transition-all duration-300" />
        <Image src="/logo/brand-zone-concept.svg" alt="Logo" width="280" height="80" class="scale-70 inline-block transition-all duration-300" />
        <Image src="/logo/brand-Previa.svg" alt="Logo" width="160" height="80" class="scale-70 inline-block transition-all duration-300" />
        <Image src="/logo/brand-TOKIO-INKARAMI.svg" alt="Logo" width="120" height="80" class="scale-70 inline-block transition-all duration-300" />
        <Image src="/logo/Cui-logo-grey.svg" alt="Logo" width="80" height="80" class="scale-70 inline-block transition-all duration-300" />
      </InfiniteSlider>
    </section>
    <ImageReveal title="環境美學" description="Salon Ambiance"/>
    <!-- Stylist Bio Section -->
    <StylistSection />
    <!-- Latest Blog Posts Section -->
    <section class="max-w-7xl lg:mx-auto py-16 px-4 md:px-8 lg:px-16 bg-gray-50">
      <div class="">
        <div class="flex flex-row items-end justify-between mb-16 md:mb-8">
          <h2 class="opacity-0.1 font-sans text-xl md:text-3xl uppercase tracking-wide text-gray-900 font-bold">最新美髮潮流文章</h2>
          <p class="font-soligant text-right text-sm md:text-2xl tracking-wider text-gray-500 order-last">Latest Hairstyle Trends News</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          {featuredPosts.map((post) => (
            <BlogPostPreview post={post} />
          ))}
        </div>
        <div class="max-w-7xl flex flex-col items-center justify-center text-center mt-12">
          <a href="/blog" class="text-gray-600 hover:text-gray-800 hover:-translate-y-1 hover:animate-pulse transition-all duration-300 hover:no-underline font-medium">
            看全部文章
          </a>
          <Image src="/logo/icon/icon-arrow-up.svg" alt="arrow" width="12" height="12" class="animate-bounce mt-2 opacity-60" />
        </div>
      </div>
    </section>

    <!-- Final Call to Action Section -->
    <CallToAction
      backgroundImage="/Cui_Salon_img/Cui_Salon_IMG_010.avif"
    />
  </Layout>
