---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import AnimatedHero from '../components/AnimatedHero.astro';
import ServiceCard from '../components/ServiceCard.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import { getCollection } from 'astro:content';
import InfiniteSlider from '../components/ui/InfiniteSlider.astro';
import { Image } from 'astro:assets';
import ImageReveal from '../components/ui/ImageReveal.astro';
import CallToAction from '../components/calltoaction.astro';
import FeatureSection from '../components/featureSection.astro';
import ScrollTextReveal from '../components/ui/ScrollTextReveal.astro';
import StylistSection from '../components/StylistSection.astro';
// Navigation properties
export const navlinkData = {
  navTitle: '首頁',
  navOrder: 1,
  navVisibility: 'all'
};

// Fetch featured blog posts
const featuredPosts = (await getCollection('blog', ({ data }) => data.featured === true))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);

const services = (await getCollection('services'))[0].data.slice(0, 6);
//add number of services

// SEO Metadata
const pageTitle = "首頁 | 萃CUI Labs Salon ";
const pageDescription = "CUI Labs Salon：視髮藝為藝術，為您精雕細琢自信之美。體驗專業髮藝師的匠心技藝，享受身心靈的寧靜蛻變";

---

<Layout title={pageTitle} description={pageDescription}>
    <AnimatedHero />
    <FeatureSection />
    <section>
      <ScrollTextReveal 
      message="In every strand lies the potential for artistry, waiting to be sculpted into a masterpiece of personal style" 
      className="text-left mx-4 md:mx-16 my-32"
      fontSize="text-5xl md:text-7xl lg:text-8xl"
      animationDuration={2.3}
      animationDelay={0.1}
      animationType="spring"
      fontStyle="font-soligant"
      animationBounce={0.2}
      />
      <ScrollTextReveal 
      message="髮絲之間 都蘊含 美的可能性 為您雕琢出 獨一無二 髮型" 
      className="text-right mx-4 md:mx-16 font-thin text-gray-400 mt-16 mb-32"
      fontSize="text-6xl md:text-8xl lg:text-8xl"
      animationDuration={1}
      animationDelay={0.1}
      animationType="spring"
      fontStyle="font-sans"
      animationBounce={0.2}
      />
    </section>
    <!-- Featured Services Section -->
    <section id="featured-services" class="my-16 px-4 sm:px-6 lg:px-8 bg-gray-50">
      <div class="max-w-7xl mx-auto">
        <h2 class="text-3xl font-extrabold text-gray-900 text-center mb-12">Featured Services</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          {services.map((service) => (
            <ServiceCard service={service} />
          ))}
        </div>
      </div>
    </section>    
   
    <!-- brands Section -->

    <section>
      <InfiniteSlider gap={56} speed={20} direction="normal" class="hidden md:block mb-8 bg-gray-50" mask={true} duplicateCount={2}>
        <Image src="/logo/brand-GaBee.svg" alt="Logo" width="160" height="80" class="inline-block transition-all duration-300" />
        <Image src="/logo/brand-Zenz.svg" alt="Logo" width="120" height="80" class="inline-block transition-all duration-300" />
        <Image src="/logo/brand-simply-zen.svg" alt="Logo" width="220" height="80" class="inline-block transition-all duration-300" />
        <Image src="/logo/brand-zone-concept.svg" alt="Logo" width="280" height="80" class="inline-block transition-all duration-300" />
        <Image src="/logo/brand-Previa.svg" alt="Logo" width="160" height="80" class="inline-block transition-all duration-300" />
        <Image src="/logo/brand-TOKIO-INKARAMI.svg" alt="Logo" width="120" height="80" class="inline-block transition-all duration-300" />
        <Image src="/logo/Cui-logo-grey.svg" alt="Logo" width="80" height="80" class="inline-block transition-all duration-300" />
      </InfiniteSlider>
      <InfiniteSlider id="mobile-slider" gap={0} speed={20} direction="normal" class="block md:hidden mb-8 bg-gray-50" mask={true} duplicateCount={4}>
        <Image src="/logo/brand-GaBee.svg" alt="Logo" width="160" height="80" class="scale-70 inline-block transition-all duration-300" />
        <Image src="/logo/brand-Zenz.svg" alt="Logo" width="120" height="80" class="scale-70 inline-block transition-all duration-300" />
        <Image src="/logo/brand-simply-zen.svg" alt="Logo" width="220" height="80" class="scale-70 inline-block transition-all duration-300" />
        <Image src="/logo/brand-zone-concept.svg" alt="Logo" width="280" height="80" class="scale-70 inline-block transition-all duration-300" />
        <Image src="/logo/brand-Previa.svg" alt="Logo" width="160" height="80" class="scale-70 inline-block transition-all duration-300" />
        <Image src="/logo/brand-TOKIO-INKARAMI.svg" alt="Logo" width="120" height="80" class="scale-70 inline-block transition-all duration-300" />
        <Image src="/logo/Cui-logo-grey.svg" alt="Logo" width="80" height="80" class="scale-70 inline-block transition-all duration-300" />
      </InfiniteSlider>
    </section>
    <ImageReveal title="環境美學" description="Salon Ambiance"/>
    <!-- Stylist Bio Section -->
    <StylistSection />
    <!-- Latest Blog Posts Section -->
    <section class="py-16 px-4 sm:px-6 lg:px-8 bg-gray-50 dark:bg-gray-800">
      <div class="max-w-7xl mx-auto">
        <h2 class="text-3xl font-extrabold text-gray-900 dark:text-white text-center mb-12">Latest Blog Posts</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          {featuredPosts.map(post => (
            <BlogPostPreview post={post} />
          ))}
        </div>
        <div class="text-center mt-12">
          <a href="/blog" class="text-primary-600 dark:text-primary-400 hover:underline font-medium">
            View All Posts
          </a>
        </div>
      </div>
    </section>

    <!-- Final Call to Action Section -->
    <CallToAction 
      backgroundImage="/Cui_Salon_img/Cui_Salon_IMG_010.avif"
    />
  </Layout>
