---
// src/pages/services.astro
import Layout from '../layouts/Layout.astro';
import ServiceCard from '../components/ServiceCard.astro';
import GalleryImage from '../components/GalleryImage.astro';
import CallToAction from '../components/calltoaction.astro';
import { getCollection } from 'astro:content';
import SplitText from '@/components/ui/SplitText.astro';

interface Props {
  items: number;
}

const { items } = Astro.props;


// Navigation properties
export const navlinkData = {
  navTitle: '設計服務',
  navOrder: 2,
  navVisibility: 'all'
};

// Placeholder data for categories - replace later
const categories = ['Haircuts', 'Coloring', 'Styling', 'Treatments'];
//SEO Metadata
const title = "設計服務 | 萃CUI Labs Salon";
const description = "男士剪燙、染髮、全髮染髮、特殊色挑染歐美線條染、法式慵懶燙等專業髮藝服務";
// Placeholder data for services - replace later with actual data source
const services =  (await getCollection('services'))[0].data;
---

<Layout title={title} description={description}>
    <section id="service-listings" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-0">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-0 mb-12 mt-56">
        <div class="flex flex-col md:flex-row justify-between items-center mb-12">
          <div class="flex flex-col">
          <h1 class="text-3xl md:text-5xl lg:text-6xl font-bold text-center md:text-left mb-8 text-gray-800">
            訂製造型，展現百變風采
          </h1>
        <SplitText 
          text="以美學態度，打造系列頂級美髮服務" 
          splitBy="chars" 
          tag="h2" 
          animationType="blurColorIn" 
          className="text-2xl text-balance md:text-2xl lg:text-3xl md:text-left font-sans font-light mb-6 text-center text-gray-600" 
          options={{ duration: 0.7, stagger: 0.08, delay: 0.3 }} 
          inView={true} 
          />
        </div>
        </div>
      </div>
      <!-- limited first 6 items -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {services.slice(0, 6).map(service => (
          <ServiceCard
            service={service}
          />
        ))}
      </div>
    </section>

    <section class="mt-16">
      <h2 class="text-3xl font-semibold mb-8 text-center text-gray-800 dark:text-gray-200">
        風格誌
      </h2>
      <div class="max-w-7xl mx-auto grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-0 md:gap-4 lg:gap-8">
        {services.slice(7, 19).map(service => (
          <ServiceCard
            service={service}
            className="rounded-2xl w-[100%]! md:w-[120%]! lg:w-[280px]!"
          />
        ))}
        
      </div>
    </section>
    <CallToAction />
</Layout>